/*ALgemeen voor de hele pagina*/
html{
    font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetoca, sans-serif;
    background: lightgrey;
    margin: 25px;
}

/*De header*/
h1{
    color: #f04c25;
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
}

h2{
    font-size: 18px;
    line-height: 20px;
    color: #009cab;
    font-weight: normal;
}

nav li{
    display: inline;
}

nav{
    margin-left: -40px;
}

header{
    margin-bottom: 50px;
}

/*algemeen*/

p{
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    font-weight: 300;
    width: 960px;
}

figure {
    float: left;
    margin: 0 20px 20px 0;
}

a{
    color: #f04c25;
}

/*CV onderdelen*/

h4{
    color: #009cab;
}

/*margin op index page*/
.underPhoto{

    margin-bottom: 88px;
}

.info{
    margin-bottom: 40px;
}

/*table*/
table{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
/*video olvp*/
.vidOlvp video{
    width: 75%;
    height: auto;
}
