/*ALgemeen voor de hele pagina*/
html{
    font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetoca, sans-serif;
    background: lightgrey;
    margin: 25px;
}

/*De header*/
h1{
    color: #f04c25;
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
}

h2{
    font-size: 18px;
    line-height: 20px;
    color: #009cab;
    font-weight: normal;
}

header{
    margin-bottom: 50px;
}

/*nav bar*/

.site-nav {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: 300;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.site-nav ul {
    margin: 0;
    list-style-type: none; /* geen bolletjes voor de lijst items */

}
.site-nav li {
    display: inline-block; /* naast elkaar, maar wel met een eigen hoogte en breedte */
    width: 100px;
    padding: 10px;
    border-right: 1px solid black;
    text-align: center;
}
.site-nav .active {
    font-weight: 500;
}
.site-nav a {
    color: black;
    text-decoration: none; /* geen onderlijning bij links */
}
.site-nav a:hover,
.site-nav a:focus {
    color: blue;
    font-weight: 500;
    text-decoration: underline;
}

/*algemeen*/

p{
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    font-weight: 300;
    width: 960px;
}

figure {
    float: left;
    margin: 0 20px 20px 0;
}

a{
    color: #f04c25;
}

/*CV onderdelen*/

h4{
    color: #009cab;
}

/*margin op index page*/
.underPhoto{

    margin-bottom: 88px;
}

.info{
    margin-bottom: 40px;
}

/*table*/
table{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
/*video olvp*/
.vidOlvp video{
    width: 750px;
    height: auto;
}
